html,
body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #000;
}

#bkg {
    position: absolute;
    width: 530px;
    height:297px;
    left: 0;
    right: 0;
    background: #000;
    background-repeat: no-repeat;
}